.about__wrapper {
	background-color: #a9c1a9;
}

.about__header {
	text-align: center;
}

h1{
	font-family: 'Cormorant Garamond', serif;
}

body{
	font-family: 'Cormorant Garamond', serif;
font-family: 'Montserrat', sans-serif;
}