/* The hero image */
.jumbotron {
	/* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
	background-image: url("../../img/hero.jpg");
	/* Set a specific height */
	height: 100%;
	padding-bottom: 11em;
	padding-top: 11em;
	/* Position and center the image to scale nicely on all screens */
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	margin-bottom: 0;
	border-radius: 0;
}

.btn {
	background-color: #1f4f46;
	color: white;
	border-color: #a9c1a9;
}

.btn:hover {
	color: #000000;
	background-color: #a9c1a9;
	border-color: #1f4f46;
}
