.step_section {
	background-color: #f4f3e7;
}


.contHiw{
	align-content: center;
	padding: 2%;
}

.hIW {
	padding-top: 3%;
	padding-right: 0px;
}

.hiwCard{
	border-color: #a9c1a9;
	border-width: 20px;
}