.step_section {
	background-color: #f4f3e7;
}

.gridContainer {
	background-color: transparent;
}

.cardItem {
	text-align: center;
	margin: 2em 3em;
}

.cardContent {
	background-color: #e8dcc6;
	min-height: 20vh;
}
.cardText {
	font-family: "Montserrat", sans-serif;
}
