<<<<<<< HEAD
.row {
=======
.signup__wrapper {
>>>>>>> cb1219edbc39953fdf521cbdbe5d95f552edc0ba
	background-image: url("../img/greens.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
<<<<<<< HEAD
}
.signup__wrapper {
	margin: 0;
}
=======
	margin: 0;
}

.card {
	border-radius: 0.8em;
}

.btn {
	background-color: #1f4f46;
	color: #ffff99;
}

.login {
	color: #1f4f46;
}
>>>>>>> cb1219edbc39953fdf521cbdbe5d95f552edc0ba
